header{
    display: block;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    top: 0; 
    left: 0;
    background-color: white;
    z-index: 1000;

}

.cabecera{
    width: 100%;
    position: relative;
    padding-bottom:10px ;
}

header .botones{
    display: none;
}

header .buscar{
    color: #b6bebf;
    border-radius:  0px 10px 10px 0px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-right: 10px;
    padding: 10px;
}

header input[type="search"]{
    width: 100%;
    border: 1px solid #b6bebf;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    margin-left: 10px;
    padding: 10px;
    
}

.contenedor{
    background: #fff;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.contenedor a {
    text-decoration: none;

}

.buscador{
    padding: 10px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    
}


.contenedor h2{
    margin: 0px;
    padding: 10px;
    color:#007782;
    font-size:42px;
}

.contenedor label[for="menu-toggle"]{
    font-size: 2rem;
    margin: 0px;
    padding: 10px;
    color:#b6bebf;
}

#Categoria{
    display: none;
}

label[for="Categoria"]{
    display: none;
}

.navegador{
    display: block;
    background-color: white;
}

.navegador, nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.navegador nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navegador nav ul li {
    flex: 1; 
    text-align: center;
    padding: 5px;
    margin: 0px 10px;
    
}

.navegador nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    color: #626f74;
    background: none;
    border: none;
    border-radius: 0%;
    padding: 10px 0px;
}
 .navegador nav ul li:first-child {
        border-bottom:1px solid #007782;
        width: 100%;
    }




@media (min-width: 768px) {

    .contenedor label[for="menu-toggle"]{
        font-size: 2.5rem;
   
    }
    header{
        justify-content: center;
        margin: 0 auto;
        padding: 10px 0;
        flex: 1;
        align-items: center;
    }
    
    .cabecera{
        flex-direction: column;
        max-width: 750px;    
        margin: 0 auto;       
        display: flex;
        justify-content: space-around;
    }
    .contenedor h2{
        font-size: 50px;
    }

    header input[type="search"]{
        text-align: center;
        font-size: 20px;
    }

    .buscador .buscar{
        text-align: center;
        font-size: 20px;
    }

    .navegador{
            max-width: 750px;
            margin: 0 auto;
            padding: 0;
        }

    .navegador, nav {
        display: flex;
        flex-wrap: wrap;
    }
    .navegador nav ul {
        justify-content: center;

    }

    .navegador nav ul li { 
        margin: 10px 10px;
    }

    .navegador nav ul li:first-child {
        border-bottom:1px solid #007782;
        width: 100%;
    }

}

@media (min-width: 992px) {
        .contenedor label[for="menu-toggle"]{
        display: none;
   
        }
        header{
            justify-content: center;
            margin: 0 auto;
            padding: 10px 0;
            flex: 1;
            align-items: center;
        }

        .cabecera{
            flex-direction: row;
            max-width: 1000px;    
            margin: 0 auto;       
            display: flex;
            justify-content: space-around;
        }

        .cabecera::after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 100vw;
            height: 1px;
            background: #ccc;
            z-index: 999;
        }


        .contenedor{
            width: auto;
            align-items: center;
            border-bottom: none;
        }

        .contenedor h2{
            font-size: 60px;
            padding: 0;
        }

        header .botones{
            justify-content: center;
            align-items: center;
            width: auto;
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            border: none;
        }

        .botones button:not(:last-child) {
            margin-right: 5px;
        }


        #vender_boton{
            border-radius: 15px ;
            color: white;
            border:1px solid #007782;
            background-color: #007782;
            height: 45px;
        }

        #iniciar_boton{
            color: #007782;
            background-color: white;
            border: 1px solid #007782;
            border-radius:  15px ;
            height: 45px;
        }

        .buscador{
            width: auto;
            
        }

        .navegador{
            max-width: 1000px;
        }


        
    }



